<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>MiniMarket Pepito</title>

</head>

<body>
    <header>

        <h1>MiniMarket Pepito</h1>
    </header>

    <section class="contenedor">
        <div class="contenedor-items">
            <div class="item">
                <span>Arroz X 5 KG</span>
                <img src="imgs/ArrozPaisana.webp" alt="" class="img-item">
                <span class="precio-Item">S/18.00 </span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>

        <div class="contenedor-items">
            <div class="item">
                <span>Azucar X 5 KG</span>
                <img src="imgs/Azucar.webp" alt="" class="img-item">
                <span class="precio-Item">S/16.00 </span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>

        <div class="contenedor-items">
            <div class="item">
                <span>Aceite Primor</span>
                <img src="assets/imgs/fresa.webp" alt="" class="img-item">
                <span class="precio-Item">S/8.00 </span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>

        <div class="contenedor-items">
            <div class="item">
                <span>Agua San Mateo</span>
                <img src="imgs/ArrozPaisana.webp" alt="" class="img-item">
                <span class="precio-Item">S/18.00 </span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>
        <div class="contenedor-items">
            <div class="item">
                <span>Arroz X 5 KG</span>
                <img src="imgs/ArrozPaisana.webp" alt="" class="img-item">
                <span class="precio-Item">S/18.00 </span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>

        <div class="contenedor-items">
            <div class="item">
                <span>Arroz X 5 KG</span>
                <img src="imgs/ArrozPaisana.webp" alt="" class="img-item">
                <span class="precio-Item">S/18.00 </span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>

    </section>


</body>













</html>