/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  width: 100%;

}


.menu {
  background-color: blueviolet;
}
.menu > div {
  color: white;
  @apply flex flex-row justify-center items-center text-lg w-32 cursor-pointer;
}
